@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 14% 99%;
    --foreground: 216 14% 15%;
    --muted: 216 14% 90%;
    --muted-foreground: 216 14% 25%;
    --popover: 216 14% 98%;
    --popover-foreground: 216 14% 15%;
    --card: 216 14% 98%;
    --card-foreground: 216 14% 15%;
    --border: 216 14% 90%;
    --input: 216 14% 90%;
    --primary: 216 14% 84%; /* Main color #CED3DC */
    --primary-foreground: 216 14% 15%;
    --secondary: 216 14% 75%; /* Lighter shade */
    --secondary-foreground: 216 14% 15%;
    --accent: 216 14% 95%;
    --accent-foreground: 216 14% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --ring: 216 14% 84%;
    --radius: 0.5rem;
    --chart-1: 216 14% 84%; /* Main */
    --chart-2: 216 14% 75%; /* Lighter */
    --chart-3: 216 14% 65%; /* Medium */
    --chart-4: 216 14% 55%; /* Darker */
    --chart-5: 216 14% 45%; /* Darkest */
    --sidebar-background: 216 14% 84%;
    --sidebar-foreground: 216 14% 15%;
    --sidebar-primary: 216 14% 75%;
    --sidebar-primary-foreground: 216 14% 15%;
    --sidebar-accent: 216 14% 90%;
    --sidebar-accent-foreground: 216 14% 15%;
    --sidebar-border: 216 14% 90%;
    --sidebar-ring: 216 14% 84%;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 13% 74%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 253 43% 4%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 253 91% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 253 91% 58%%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
